@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col-strong {
    margin: 5px;
    line-height: 42px;
}

.header-text {
    text-align: center;
    font-family: Oswald;
    font-size: 4em;
}

.sub-text {
    text-align: center;
    font-family: Roboto;
    font-size: 1em;
    margin: 2em;
}

h1 {
    font-family: oswald;
    text-align: center;
}

h3{
    font-family: Oswald;
    text-align: center;
}

.carousel-item>img{
    height: 30em;
    width: 35em;
    padding-bottom: 10em;
}

.review-image {
    margin-top: 2em;
    width: 100%;
    height: 35em;
    animation-name: review-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
