@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}