{% extends "base.html" %}
{% block content %}

<div> <!--Header Image-->
    <img class="contact-image" src="https://cdn.pixabay.com/photo/2017/02/07/00/44/feedback-2044700_1280.jpg">
</div>

<h3 class="header-text black-text">Contact Page</h3>
    <p class="sub-text black-text">Fill out the form below to contact us with any problems you may
        have with the site, if you have any questions on how the site works, or data protection,
        or with any improvements you think could improve the site. We aim to respond to queries within
        24 hours of you submitting the form.
    </p>
<!--Header text and sub-heading text-->
{% endblock %}