{% extends "base.html" %}
{% block content %}

<!--Carousel by Materialize CSS-->
<section class="profile-background">

    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="https://cdn.pixabay.com/photo/2016/10/07/22/15/game-of-thrones-1722710_1280.png"></a>
        <a class="carousel-item" href="#two!"><img src="https://cdn.pixabay.com/photo/2020/11/13/16/51/white-walker-5739181_1280.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="https://cdn.pixabay.com/photo/2019/05/05/15/05/game-of-thrones-4180794_1280.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="https://cdn.pixabay.com/photo/2014/08/14/16/32/harry-potter-418108_1280.jpg"></a>
        <a class="carousel-item" href="#five!"><img src="https://cdn.pixabay.com/photo/2020/03/31/13/29/ufo-4987627_1280.jpg"></a>
    </div>

</section>
{% endblock %}