{% extends "base.html" %}
{% block content %}

<!--Header Image-->
<div>
    <img class="review-image" src="https://cdn.pixabay.com/photo/2015/09/05/07/28/writing-923882_1280.jpg" alt="review">
</div>

<!--Heading and subheading text-->
<h3 class="black-text center-align">Reviews</h3>
<p class="sub-text">Below are some reviews by our users for books either recommended by us,
    or some they recommend themselves. Please note, you need to be logged
    in to add a review. 
</p>

<ul class="collapsible">
    {% for review in reviews %}
    <li>
        <div class="collapsible-header white-text light-blue darken-4 text-shadow">
            <div class="col s3">
                <i class="fas fa-caret-down"></i>
                <i class="fas fa-pen-square light-blue-text text-lighten-2 tooltipped"></i>
                <!--Adds a delete and edit button on a user's reviews if they are logged in-->
                {% if session.user|lower == review.created_by|lower %}
                    <a class="btn-small green accent-4 modal-trigger" href="#modal-{{review._id}}">Delete</a>
                    <a href="{{ url_for('edit_review', reviews_id=review._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                {% endif %}
            </div>
            <!--Displays a review, its genre and books name-->
            <div class="col s9">
                <strong>{{ review.reviews }}</strong>
                <strong>{{ review.genre_name }}</strong> : {{ review.book_name }}
            </div>
        </div>
        <!--Displays a books description, author and who made the review-->
        <div class="collapsible-body">
            <p>{{ review.book_description }}</p>
            <p>{{ review.book_author }}</p>
            <p><em>by: {{ review.created_by }}</em></p>
        </div>
        <div id="modal-{{review._id}}" class="modal">
            <div class="modal-content">
              <h4>Confirm Deletion?</h4>
              <p>Are you sure you want to delete this review?</p>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('delete_review', reviews_id=review._id) }}" class="btn-small green accent-4">Delete</a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}